{% extends 'base.html.twig' %}

{% block title %}Accueil | DUCKZON{% endblock %}

{% block body %}
    <div class="container">
        <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">SmallAds</h1>
            <p class="lead">Vends toutes tes affaires !</p>
        </div>
    </div>

    <div class="container">
        <h2>Les dernières annonces</h2>
        <div class="row">
            {% for annonce in annonces3 %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm" height="225" width="100%">
                        <img src="https://media.giphy.com/media/Y0zTJ7VrKo9P2/giphy.gif" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{ annonce.title }}</h5>
                            <p class="card-text">{{ annonce.description }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-sm btn-outline-secondary" type="button">View</a>
                                    <a class="btn btn-sm btn-outline-secondary" type="button">Edit</a>
                                </div>
                                <small class="text-muted">{{ annonce.price }}€</small>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}
