*{
    font-family: 'Montserrat';
}

.wrapper{
    margin: 50px 100px;
}

h2 {
    text-align: center;
    padding: 20px;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: yellow;
    text-decoration: none;
}

a:active {
    color: black;
}