
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm" height="225" width="100%">
                    <img class="img-fluid" src="{% if annonce.imageUrl is not null %}{{ annonce.imageUrl }}{% endif %}">
                    <div class="card-body">
                        <h5 class="card-title">{{ annonce.title }}</h5>
                        <p class="card-text">{{ annonce.description }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{{ path('show_annonce', {id: annonce.id, slug: annonce.slug}) }}" class="btn btn-sm btn-outline-secondary" type="button">View</a>
                                <a class="btn btn-sm btn-outline-secondary" type="button">Edit</a>
                            </div>
                            <small class="text-muted">{{ annonce.price }}€</small>
                        </div>
                    </div>
                </div>
            </div>
