{% extends 'base.html.twig' %}

{% block title %}Annonces | DUCKZON{% endblock %}

{% block body %}

<div class="container">
    <h2>Liste des annonces</h2>
    <div class="row">
        {% for annonce in annonces %}
            {% include 'annonce/_cards.html.twig' with {annonce: annonce} only %}
        {% endfor %}
    </div>
    <div class="pagination">
        {{ knp_pagination_render(annonces) }}
    </div>

</div>

{% endblock %}
