{% extends 'base.html.twig' %}
{% block title %} Créer une annonce | DUCKZON{% endblock %}
{% block body %}
    <div class="container">
        <h1>Créer une annonce</h1>
        {{ include("_form.html.twig", {form: form, button: 'Créer'}) }}
    </div>

{% endblock %}