{% extends 'base.html.twig' %}
{% block title %}Modifier l'annonce | DUCKZON{% endblock %}
{% block body %}
    <div class="container">
        <h1>Éditer l'annonce</h1>
        {{ include("_form.html.twig", {form: form, button: 'Sauvegarder'}) }}
    </div>

{% endblock %}
