{% extends 'base.html.twig' %}

{% block title %}Admin | DUCKZON{% endblock %}

{% block body %}
    <div class="container">
        <h1>Gérer les annonces</h1>
        <div class="row">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Titre</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for annonce in annonces %}
                    <tr>
                        <td>{{ annonce.title }}</td>
                        <td>
                            <a href="{{ path('app_annonce_edit', {id: annonce.id}) }}" class="btn btn-secondary">Éditer</a>
                            <form method="post" action="{{ path('app_annonce_edit', {id: annonce.id}) }}" onsubmit="return confirm('Êtes vous vraiment sûr ?')">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ annonce.id) }}">
                                <button class="btn btn-danger">Supprimer</button>
                            </form>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

{% endblock %}
